<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数理学院论文材料收集系统</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/thesis_list.css' %}">
</head>
<body>
<div class="header">
    {% block header %}
    {% endblock %}
</div>
<div class="main">
    {% block main %}
    {% endblock %}
</div>
<div class="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>

<script src="{% static 'js/jQuery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/post_data_Ajax.js' %}"></script>
{% block javascript %}
{% endblock %}
