{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block main %}
    <div class="col-md-3"></div>
    {% load static %}
    <div style="background-image: url({% static 'img/bg.jpg' %}); color: white; height: 800px;">
    <br>
    <div style="margin: 170px auto; width: 25%;">
      <div class="form-group" id="title_bar">
        <h3>数理学院论文材料收集系统</h3>
        <br>
      </div>
      <div class="form-horizontal">
        <label class="errorMsg"></label>
        <form class="loginform">
        <label for="loginUsername">用户名：</label>
        <input id="loginUsername" type="text" class="loginUsername" placeholder="请输入用户名:">
        <p class="usernameNull">请输入用户名！</p>
        <p class="usernameError">用户不存在！</p>
        <div>
          <br>
        </div>
        <label for="loginPassword">密码：</label>
        <input id="loginPassword" type="password" class="loginPassword" placeholder="请输入密码:">
        <p class="passwordNull">请输入密码！</p>
        <p class="passwordError">密码错误！</p>
        </form>
      </div>

      <div class="form-group">
        <div class='login_bar'>
          <button id="login" type="submit" class="btn">登 录</button>
        </div>
      </div>
      <div class="form-group">
        <p id='corpyright'>Corpyright &copy 鲁成 Copyright Holder All Rights Reserved.</p>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}

{% endblock %}

{% block javascript %}

<script>
$(function () {
  var obj = {};
  $('#login').on("click", function () {
    obj.username = $("#loginUsername").val();
    if (!obj.username) {
      $(".usernameNull").show();
    } else {
      $(".usernameNull").hide();
    }
    obj.password = $("#loginPassword").val();
    if (!obj.password) {
      $(".passwordNull").show();
    } else {
      $(".passwordNull").hide();
    }
    if (obj.username && obj.password) {
      submitOperation(obj);
    }
  });

  //提交数据
  function submitOperation(obj) {
    var url = "{% url 'loginurl' %}";
    gpData.ajax({
      type: 'POST',
      data: obj,
      url: url,
      success: 'redirect2loggedpage',
      error: 'loginError'
    })
  }
});

function loginError(jqXHR, textStatus, errorThrown) {
  $(".errorMsg").html(jqXHR.responseJSON.msg).show();
}

function redirect2loggedpage() {
  var url = "{% url 'index' %}"
  console.log(url);
  g2url(url);
}

</script>

{% endblock %}
