input {
  background-color: transparent;
  color: white;
  border: None;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}

.login_bar {
  text-align: center;
}

#title_bar {
  font-size: 20px;
  text-align: center;
}

#login {
  width: 120px;
  background-color:
  transparent; border: 1px solid white;
  margin: 40px auto;
}

#corpyright {
  text-align: center;
  margin: 20px auto;
  font-size: 15px;
}

.errorMsg {
  font-size: 20px;
  text-align: center;
  color: red;
}

.usernameError {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: red;
  display: none;
}

.usernameNull {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: red;
  display: none;
}

.passwordError {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: red;
  display: none;
}

.passwordNull {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: red;
  display: none;
}

/*CSS中.开头表示class #开头表示id 无任何开头表示元素块*/
