/*#thesis_list_bar {
  padding: 0px;
  width: 70%;
  margin: 0px;
  float: left;
}

#thesis_new_bar {
  padding: 0px;
  width: 30%;
  margin: 0px;
  float: left;
}*/

.thesis_new_title_bar {
  margin: 0 5px;
  height: 60px;
  font-size: 17px;
  line-height: 60px;
  font-weight: bold;
}

.thesis_conclution {
  font-weight: bold;
}

textarea {
  background-color: rgba(0, 0, 0, 0.7);
  color: #00FF00;
  border: none;
  width: 600px;
}

.thesis_btn {
  width: 120px;
  background-color:
  transparent; border: 1px solid white;
  margin-left: 480px;
  margin-top: 20px;
}
