{% extends "common/home_base.html" %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/thesis_list.css' %}">
{% endblock %}
{% block home_body %}
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="thesis_list_bar" style="height: 700px;">
<textarea name="thesis_data" id="import_thesis" rows="20" class="form-control" style="
  background-color: rgba(0, 0, 0, 0.7);
  color: #00FF00;
  border: none;
  width: 700px;" required></textarea>
  <button style="
    width: 120px;
    background-color:
    transparent; border: 1px solid white;
    margin-left: 580px;
    margin-top: 20px;" id="submit_thesis" type="submit" class="btn">提 交</button>
</div>
<div class="col-lg-1 col-md-1 col-sm-1"><br></div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="thesis_new_bar" style="height: 700px;">
  <div class="thesis_new_title_bar" style="margin-left: 30px;">
    <i class="fa fa-star"></i> 批量导入毕业设计：
  </div>
  <div>
    <p><b>请按如下格式添加学生的毕业设计：</b></p>
    学生姓名,学生学号,毕业年份,论文题目
    <p><b>*注意中间为英文逗号','</p></b>
    每条数据用回车分隔。
  </div>
  <br>
  <div class="thesis_conclution">
    <h4>导入数据统计：</h4>
    <li style="color: #00FFFF; font-weight: bold;">总数据条数：
      <p class="all_num"></p>
    </li><br>
    <li style="color: #00FF00; font-weight: bold;">成功条数：
      <p class="success_num"></p>
    </li><br>
    <li style="color: red; font-weight: bold;">失败条数：
      <p class="failed_num"></p>
    </li>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(function () {
  var obj = {};
  $('#submit_thesis').on("click", function () {
    obj.data = $("#import_thesis").val();
    if (obj.data) {
        submitOperation(obj);
    };
  });

  function submitOperation(obj) {
    var url = "{% url 'teacher_thesis' %}";
    gpData.ajax({
      type: 'POST',
      data: obj,
      url: url,
      success: 'show_result',
      error: 'submitError',
    });
  };
});

function show_result(data, obj) {
  console.log(data);
  $(".all_num").html(data.all_num).show();
  $(".success_num").html(data.success_num).show();
  $(".failed_num").html(data.failed_num).show();
  console.log("success");
};

function submitError() {
  console.log("add thesis error");
};
</script>
{% endblock %}
