{% extends 'base.html' %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}
{% block main %}
{% load static %}
<div style="background-image: url({% static 'img/home_bg_2.jpg' %}); color: white; height: 800px;">
  <div class="content_head_nav">
    毕业论文材料汇总系统
    <div class="content_head_right">
      <a href="{% url 'logouturl' %}">安全退出 <i class="fa fa-sign-out"></i></a>
    </div>
  </div>
  <div class="home_sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">

        </li>
        <li class="sidebar-brand">
            <a href="{% url 'index' %}"><i class="fa fa-bell"></i> 最新通知</a>
        </li>
        <li class="sidebar-brand">
            <a href="{% url 'thesis_list' %}"><i class="fa fa-level-down"></i> 导入毕设</a>
        </li>
        <li class="sidebar-brand">
            <a href="#"><i class="fa fa-tasks"></i> 材料状态</a>
        </li>
        <li class="sidebar-brand">
            <a href="#"><i class="fa fa-gear"></i> 帐号设置</a>
        </li>
        <li class="sidebar-brand">
            <a href="#"><i class="fa fa-info"></i> 关于</a>
        </li>
    </ul>
  </div>
  <div class="container>
    <div class="row">
      <div class="home_content">
        {% block home_body %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascript %}
{% endblock %}
